<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1>Home page</h1>

    <p><%= 10 + 2%></p>


    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa sapiente repellendus doloribus asperiores numquam
        in sed ducimus, alias placeat non exercitationem ratione vel. Quisquam esse aut voluptas numquam eveniet atque
        repellendus enim odio, rerum maiores. Voluptates est mollitia, perspiciatis, commodi ab totam eum quaerat alias
        beatae dolorem deserunt, voluptatum architecto quisquam soluta. Aliquid similique neque harum placeat qui dolor
        ab doloremque culpa itaque quia natus, illo enim eum accusantium, numquam earum quis cumque perferendis corporis
        laboriosam veniam accusamus atque aliquam. Ipsam asperiores ipsa veniam, soluta illum deserunt culpa excepturi
        quia assumenda quasi deleniti aut impedit sunt expedita hic nihil quas.</p>

    <h2>End of file</h2>

</body>

</html>